# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual Environment
django-venv/
ENV/
env/
.venv/

# Django
*.secret
*.pid
media/
staticfiles/
db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Docker
*.pid
*.sock
*.tar
docker-compose.override.yml

# Frontend (Vite / Node)
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/build/
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/logs/
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
